:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.main {
	max-width: 1280px;
	padding: 0.5rem;
	text-align: center;
}

.margin {
	margin: auto;
}

[data-theme="dark"] {
	background-color: #424242;
	color-scheme: light dark;
}

[data-theme="light"] {
	background-color: #ffeaea;
	color-scheme: light;

	& h1 {
		color: black;
	}
	& .projects {
		color: black;
	}
	& .scroll-area {
		color: black;
	}
	& .back {
		color: black;
	}
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	align-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 4.2em;
	line-height: 1.1;
}

.button {
	border: none;
	color: white;
	border-radius: 12px;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	font-family: Roboto;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.projects {
	background-color: #04aa6d;
}

.projects:hover {
	background-color: #067b50;
	color: white;
}

.abs {
	position: absolute;
	top: 50px;
	right: 50px;
}

.back {
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: xx-large;
	color: white;
}

.pad {
	padding: 5px;
}

.transition {
	transition: all 0.5s ease-in-out;
}

.hover-large:hover {
	transform: scale(1.05);
}

.fill-github {
	fill: #1b1f23;
}

.fill-linkedin {
	fill: #007ebb;
}

.scroll-container,
.scroll-area {
	height: 100vh;
	font-size: 60px;
}

.scroll-container {
	-webkit-scroll-snap-type: y mandatory;
	-ms-scroll-snap-type: y mandatory;
	scroll-snap-type: y mandatory;
}

.scroll-area {
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.flexrow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flexcol {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projectimg {
	max-width: 5em;
	width: 100%;
	max-height: 7em;
	object-fit: cover;
	height: 100%;
	border-radius: 1em;
}

.projectheading {
	font-size: 0.75rem;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.projectdescription {
	font-size: medium;
	margin: 0.5em;
}

@media (min-width: 1024px) {
	.flexrow {
		display: flex;
		flex-direction: row;
	}

	.projectimg {
		max-width: 7em;
		width: 100%;
		max-height: 12em;
		object-fit: cover;
		height: 100%;
		padding: 1em;
		border-radius: 1.5em;
	}
	.projectheading {
		font-size: 0.75rem;
		margin-left: 0.5em;
		padding-top: 2em;
		padding-right: 2em;
	}

	.projectdescription {
		font-size: x-large;
		margin: 1em;
	}
}
